a {color: var(--base-color);}
#header {margin-bottom: calc(var(--size-xl) * 2);}
#footer {
  text-align: left;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
#footer img {
  float: left;
  height: 55px;
  width: auto;
  mix-blend-mode: multiply;
}
#footer img.logo-landscape {
  height: 35px;
}
#footer img.logo-social {
  height: 25px;
}
img#footer_logo {
  width: 140px;
  height: auto;
  margin-right: var(--size-xxl);
}
#footer h2 {
  clear: left;
  font-size: var(--size-md);
  margin-top: var(--size-xl);
  font-weight: 600;
}
.footer_links {
  margin-top: var(--size-lg);
}
.footer_links li {
  margin-right: var(--size-xl);
  margin-bottom: var(--size-xl);
  vertical-align: middle;
}
#footer p::after {
  content: "";
  display: block;
  clear: both;
}
#footer section {
  display: inline-block;
}
#list #globalKit {
  position: absolute;
  top: var(--size-md);
  right: var(--size-md);
  width: 40px !important;
  height: 40px;
  background-color: #99caff;
  border-radius: 100%;
  opacity: 1;
  border-color: transparent;
}
body[isGlobal="true"] {
  background-color: #99caff;
}

@media screen and (min-width: 870px) {
  #list #globalKit {
    width: 80px !important;
    height: 80px;
    top: var(--size-xxl);
    right: var(--size-xxl);
  }
}